<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Paperpillar published by Bang Seonghun</title>
	<link rel="stylesheet" href="../public/stylesheets/main.css">

	<!-- 구글 폰트 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
	<div id="content">
		<nav id="primary">
			<a class="item" href="./index.html">

			</a>
			<a class="item" href="#">

			</a>
			<a class="item" href="#">

			</a>
			<a class="item" href="#">

			</a>
			<a class="item" href="#">

			</a>
			<a class="item" href="#">

			</a>
		</nav>
		<div id="header-and-main-container">
			<header>
				<div class="title">
					Penggembara<br />
					Senja
				</div>
				<hr />
				<div class="subtitle">
					Podcast oleh Stefana Mondala
				</div>
			</header>
			<main>

			</main>
		</div>
		<aside id="kategori">
			<h1>Kategori</h1>
			<nav>
				<ul>
					<li><a href="#">
						<img src="../public/images/streamlinehq-money-wallet-money-shopping-24.SVG">
						<span class="name">Finansial</span>
						<span class="number">120+</span>
					</a></li>
					<li><a href="#">
						<img src="../public/images/streamlinehq-money-wallet-money-shopping-24.SVG">
						<span class="name">Finansial</span>
						<span class="number">120+</span>
					</a></li>
					<li><a href="#">
						<img src="../public/images/streamlinehq-money-wallet-money-shopping-24.SVG">
						<span class="name">Finansial</span>
						<span class="number">120+</span>
					</a></li>
					<li><a href="#">
						<img src="../public/images/streamlinehq-money-wallet-money-shopping-24.SVG">
						<span class="name">Finansial</span>
						<span class="number">120+</span>
					</a></li>
					<li><a href="#">
						<img src="../public/images/streamlinehq-money-wallet-money-shopping-24.SVG">
						<span class="name">Finansial</span>
						<span class="number">120+</span>
					</a></li>
					<li><a href="#">
						<img src="../public/images/streamlinehq-money-wallet-money-shopping-24.SVG">
						<span class="name">Finansial</span>
						<span class="number">120+</span>
					</a></li>
				</ul>
			</nav>
		</aside>
		<aside id="top-podcaster">
			<h1>Top Podcaster</h1>

		</aside>
	</div>

	<div id="design-source" style="display: none;">https://dribbble.com/shots/18909356-Podcast-App-Exploration</div>
</body>

</html>