<div class="card">
	<img class="profile-image" src="/public/images/person.svg" alt="프로필 사진"></img>
	<div class="writer">김뮤지</div>
	<input type="button" class="album-image btn" alt="앨범 이미지"></img>
	<div class="title">
		<span class="song-name">Ganadara</span><br />
		<span class="artist">Jay Park</span>
	</div>
	<div class="address">2km, 2시간 전</div>
	<button class="digging btn" aria-label="digging">
		<img src="/public/images/digging.svg" alt="digging" />
	</button>
	<div class="tags">
		
	</div>
</div>