<div class="card">
  <img class="profile-image"
    src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/09/11/0400040911_18591_02403.gif"
    alt="프로필 사진"></img>
  <div class="write">김뮤지</div>
  <img class="album-image"
    src="https://i1.sndcdn.com/artworks-000126930434-b0dh0g-t500x500.jpg" alt="앨범 이미지"></img>
  <div class="title">
    Ganadara<br />
    <span class="artist">Jay Park</span>
  </div>
  <div class="address">2km, 2시간 전</div>
  <div class="digging">
    <button class="btn" aria-label="digging">
      <img src="../../public/images/digging.svg" alt="digging" />
    </button>
  </div>
  <div class="tags">
    <button class="btn tag">
      ⌨ 코딩
    </button>
  </div>
</div>

<iframe style="border-radius:12px"
  src="https://open.spotify.com/embed/artist/3vgMvosfy86QELefk7GAZm?utm_source=generator" width="100%" height="380"
  frameBorder="0" allowfullscreen=""
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>