<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="theme-color" content="#5A39FF">

	<!-- 파비콘 -->
	<link rel="shortcut icon" href="/public/images/로고.svg" />

	<!-- 구글 폰트 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap&subset=latin" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap&subset=korean" rel="stylesheet">

	<!-- 부트스트랩 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />

	<!-- 내부 CSS -->
	<link rel="stylesheet" href="/public/stylesheets/main.css" />
	<link rel="stylesheet" href="/public/stylesheets/profile.css" />
	<link rel="stylesheet" href="/public/stylesheets/card.css" />

	<!-- 내부 JS -->
	<script src="/public/scripts/profile.js"></script>

	<title>뮤집 - 프로필</title>
</head>

<body>
	<div id="profile">
		<div class="content">

			<div id="feeds-header">
				<img src="/public/images/mugip.svg" alt="뮤집">
				<div class="buttons">
					<button type="button" class="search-button btn">
						<img src="/public/images/ic24-search.svg" alt="돋보기">
					</button>
					<button type="button" class="notification-button btn">
						<img src="/public/images/ic24-notification.svg" alt="종">
					</button>
					<button type="button" class="my-profile-image btn">
						<img src="/public/images/Ellipse 22.png" alt="프로필 사진">
					</button>
				</div>
			</div>

			<div id="card-list">
				<!-- 이곳에 피드 카드가 삽입됩니다. -->
			</div>

		</div>
	</div>
</body>

</html>