.card {
	display: grid;
	grid-template-rows: 32px min-content min-content 42px;
	grid-template-columns: 24px calc(110px - 24px + 16px) 1fr 40px;
	grid-template-areas:
		"profile-image	writer		writer	."
		"album-image	album-image	title	digging"
		"album-image	album-image	address	digging"
		"tags			tags		tags	tags";
	position: relative;
	width: 100%;
	max-width: 600px;
	min-height: 216px;
	height: fit-content;
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius: 12px;
	padding: 16px;
	color: #ffffff;
	background: linear-gradient(108.49deg, rgba(245, 104, 234, 0.8) 0%, rgba(164,154,255,0.8) 100%);
	backdrop-filter: blur(12px);
}

.card .profile-image {
	grid-area: profile-image;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	object-fit: cover;
}

.card .writer {
	grid-area: writer;
	align-self: center;
	margin-left: 6px;
	font-size: 13px;
}

.card .album-image {
	grid-area: album-image;
	width: calc(100% - 16px);
}

.card .title {
	grid-area: title;
}

.card .address {
	grid-area: address;
}

.card .digging {
	grid-area: digging;
}

.card .tags {
	grid-area: tags;
}

.tags .tag {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
}