.card {
	display: grid;
	grid-template-rows: 24px min-content min-content 42px;
	grid-template-columns: 24px min-content 1fr 40px;
	grid-template-areas:
		"profile-image	writer		writer	."
		"album-image	album-image	title	digging"
		"album-image	album-image	address	digging"
		"tags			tags		tags	tags";
	position: relative;
	width: 100%;
	max-width: 600px;
	min-height: 216px;
	height: fit-content;
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius: 12px;
	padding: 16px;
	color: #ffffff;
	background: linear-gradient(108.49deg, rgba(245, 104, 234, 0.8) 0%, rgba(164,154,255,0.8) 100%);
	backdrop-filter: blur(12px);
}

.card .profile-image {
	grid-area: profile-image;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	object-fit: cover;
}

.card .writer {
	grid-area: writer;
	align-self: center;
	margin-left: 6px;
	font-size: 13px;
}

.card .album-image {
	grid-area: album-image;
	width: 110px;
	margin-top: 8px;
	margin-right: 16px;
}

.card .title {
	grid-area: title;
	margin-top: 8px;
	font-size: 20px;
	line-height: 1em;
}

.title .artist {
	font-size: 15px;
}

.card .address {
	grid-area: address;
	align-self: end;
	font-size: 11px;
}

.card .digging {
	grid-area: digging;
	align-self: center;
	width: 100%;
}

.card .tags {
	grid-area: tags;
	align-self: end;
	display: grid;
	justify-content: start;
	column-gap: 8px;
	/* grid-template-row: repeat(auto-fill, minmax(50px, 200px)); */
}

.tags .tag {
    width: fit-content;
	height: 30px;
	border-radius: 8px;
	padding: 8px;
	vertical-align: middle;
	line-height: 1em;
	font-size: 12px;
	color: #ffffff
	background-color: rgba(255, 255, 255, 0.2);
}