#feeds {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden auto;
}

#feeds>.content {
	display: grid;
	grid-template: auto / 1fr;
	place-items: center;
	align-content: start;
	width: 100%;
	padding: 16px;
	overflow: hidden auto;
}

#feeds-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 68px;
}
#feeds-header .buttons {
	display: flex;
	align-items: center;
	width: fit-content;
}

#card-list {
	display: grid;
	grid-template: auto / 1fr;
	row-gap: 16px;
	place-items: center;
	align-content: start;
	width: 100%;
	overflow: hidden auto;
}