#feeds {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden auto;
}

#feeds>.content {
	display: grid;
	grid-template: auto / 1fr;
	place-items: center;
	align-content: start;
	width: 100%;
	padding: 16px;
	overflow: hidden auto;
}

#feeds-header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 68px;
	background-color: rgba(255, 217, 0, 0.13);
}

#card-list {
	display: grid;
	grid-template: auto / 1fr;
	place-items: center;
	align-content: start;
	width: 100%;
	overflow: hidden auto;
}