body {
    height: 100vh;
    overflow: hidden;
}

#bottom-drawer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    pointer-events: none;
}

#bottom-drawer>section {
    width: 100%;
    background-color: white;
    scroll-snap-align: end;
    pointer-events: auto;
}

#bottom-drawer>section:nth-child(1) {
    height: 25vh;
    margin-top: 80vh;
    border-radius: 50px 50px 0 0;
}
#bottom-drawer>section:nth-child(2) {
    height: 65vh;
    background-color: gold;
}