:root {
    /* (첫 번째 섹션 콘텐트 높이) = (첫 번째 섹션 높이) - (손잡이 높이) - (콘텐트 페딩 크기) */
    --first-section-content-height: calc( (25vh) - (1px + 4px + 1rem*2) - (1rem*2));
}

html {
    height: 99.9%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: hidden;
}

#bottom-drawer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 99.9%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    pointer-events: none;
}

/* 바텀드로워 */

#bottom-drawer>section {
    width: 100%;
    background-color: white;
    scroll-snap-align: end;
    pointer-events: auto;
}

#bottom-drawer>section:nth-child(1) {
    display: flex;
    flex-direction: column;
    height: 25vh;
    margin-top: 80vh;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 -2px 15px rgb(0 0 0 / 25%);
}

#bottom-drawer>section:nth-child(2) {
    height: 65vh;
}

/* 스크롤바 제거 */

#bottom-drawer {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#bottom-drawer::-webkit-scrollbar {
    display: none;
}

#bottom-drawer .knob {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

#bottom-drawer .knob>div {
    width: 150px;
    height: 4px;
    margin: 1rem auto;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.25);
}

#bottom-drawer>section:nth-child(1)>.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#bottom-drawer .content .nav-tabs {}

#bottom-drawer .content .nav-tabs>.nav-item {
    width: 50%;
    text-align: center;
}

#bottom-drawer .content .search-bar-cover {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-cover input {
    width: 80%;
    border-radius: 0.25rem 0 0 0.25rem;
}

.search-bar-cover button {
    border-radius: 0 0.25rem 0.25rem 0;
}

.list-group-item>* {
    width: calc(100% - 90px);
    margin-left: auto;
}

.list-group-item>img {
    float: left;
    width: 77px !important;
    height: 77px;
}

.list-group-item>small {
    display: block;
}

.list-group-item small>svg {
    width: 20px;
    height: 20px;
}

.list-group-item.active svg {
    fill: white !important;
}