body {
	background: linear-gradient(69.26deg, rgba(90, 57, 255, 0) 8.42%, rgba(90, 57, 255, 0.15) 82.91%), linear-gradient(185.71deg, rgba(90, 57, 255, 0) 76.01%, rgba(90, 57, 255, 0.45) 100%), linear-gradient(169.36deg, #5A39FF 0%, #000000 47.24%);
}

#Login {
	display: grid;
	grid-template: auto / 1fr;
	justify-content: center;
	align-content: center;
	place-items: center;
	width: 100vw;
	height: 100vh;
	padding: 16px;
}

#Login>.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	row-gap: 32px;
	height: fit-content;
	color: #ffffff;
}

#Login img.logo {
	width: 125.56px;
}

#Login .catch-phrase {
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
}
.catch-phrase>.sns {
	font-weight: 600;
}

#login button.spotify,
#spotify-login {
	width: 100%;
	height: 48px;
	border-radius: 4px;
	padding: 10px;
	font-size: 15px;
	font-weight: 700;
	line-height: 19px;
	color: #ffffff;
	background: #1DB954;
}

#spotify-login>img {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}