body {
	background: linear-gradient(69.26deg, rgba(90, 57, 255, 0) 8.42%, rgba(90, 57, 255, 0.15) 82.91%), linear-gradient(185.71deg, rgba(90, 57, 255, 0) 76.01%, rgba(90, 57, 255, 0.45) 100%), linear-gradient(169.36deg, #5A39FF 0%, #000000 47.24%);
}

#Login {
	display: grid;
	grid-template: auto / 1fr;
	justify-content: center;
	align-content: center;
	place-items: center;
	width: 100vw;
	height: 100vh;
	padding: 16px;
}

#Login>.container {
	height: fit-content;
	background-color: rgba(255, 217, 0, 0.154);
}
