body {
	margin: 0;
	font-weight: 400;
	min-width: 100vw;
	min-height: 100vh;
	overflow: hidden auto;
	letter-spacing: -0.01em;
	font-family: 'Work Sans', 'Noto Sans KR', sans-serif;
	color: var(--text-color);
	background: linear-gradient(167.95deg, #5A39FF 0%, #000000 52.34%);
	word-break: keep-all;
}

a {
	color: var(--point-color);
	text-decoration: none;
}

img {
	object-fit: cover;
}

hr {
	width: 100%;
	margin: 1rem 0;
}

.btn-fill {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 2px;
	padding: 8px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 15px;
	line-height: 15px;
	letter-spacing: -0.01em;
	background: #5A39FF;
}

.text-point {
	color: var(--point-color);
}

.letter-spacing-2 {
	letter-spacing: -2px;
}

.letter-spacing-2>span {
	letter-spacing: normal;
}

.input-field {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	margin: 1rem 0;
	padding: 0 0.75rem;
	height: fit-content;
}

.input-field>label {
	display: block;
	position: absolute;
	color: #9e9e9e;
	top: -0.75rem;
	left: 0.75rem;
	font-size: 0.75rem;
	cursor: text;
	transition: 0.2s all;
}

.input-underline {
	height: 3rem;
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	padding: 0;
	font-size: 16px;
	outline: none;
	transition: 0.2s all;
}

.input-underline:focus {
	border-bottom: 1px solid var(--point-color);
	box-shadow: 0 1px 0 0 var(--point-color);
}

.input-underline:focus+label {
	color: var(--point-color);
}

.outline-none {
	outline: none;
}

.pointer-events-auto {
	pointer-events: auto !important;
}

.flex-vertical-alignment {
	display: flex;
	align-items: center;
	min-width: 0;
}

.float-unset {
	float: unset !important;
}

.text-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


iframe#spotify-player {
	position: fixed;
	left: 50%;
	bottom: 16px;
	z-index: 100;
	display: none;
	width: calc(100% - 16px * 2);
	height: 80px;
	border-radius: 6px;
	transform: translateX(-50%);
	opacity: 0;
}

iframe#spotify-player.on {
	animation: player-fadein 0.1s 1;
	display: block;
	opacity: 1;
}

@keyframes player-fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#card-list {
	display: grid;
	grid-template: auto / 1fr;
	row-gap: 16px;
	place-items: center;
	align-content: start;
	width: 100%;
	margin-bottom: 80px;
	overflow: hidden auto;
}

/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
	visibility: hidden;
	min-width: 250px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	word-break: keep-all;
}

/* 스낵바 */
#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}