#bottom-drawer>section:nth-child(1)>.content {
    justify-content: center;
    padding: 1rem;
}

#post-summary-information {
    display: grid;
    height: 100%;
    max-height: 100px;
    grid-template-columns: minmax(auto, 100px) 1fr;
    grid-template-rows: 5fr 4fr 4fr;
    column-gap: 13px;
    grid-template-areas: "album-cover  title" "album-cover singer" "album-cover writer";
    font-size: .875em;
}

#post-summary-information>img {
    grid-area: album-cover;
    width: var(--first-section-content-height);
    max-width: 100px;
    height: 100%;
}

#post-summary-information .flex-vertical-alignment>div {
    width: 100%;
}

#post-summary-information .title {
    font-size: 1rem !important;
}

#post-summary-information i {
    float: right;
}

#post-summary-information small {
    float: right;
}

#post-summary-information button {
    padding: unset;
    border: 0;
}

#bottom-drawer>section:nth-child(2)>.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    padding-bottom: 5rem;
}

#bottom-drawer>section:nth-child(2)>.content>img {
    width: 100%;
}

#bottom-drawer>section:nth-child(2)>.content>iframe {
    width: 100%;
    margin: 2rem 0;
}

#bottom-drawer>section:nth-child(2)>.content>p {
    margin: 3rem 0 1.5rem;
}

#likeit {
    align-self: flex-end;
}

#comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.9em;
}

#comment>section {
    margin: 0.75rem 0;
}

#comment>hr {
    opacity: 0.25;
    overflow: visible;
}
#comment>hr:after {
    display: inline-block;
    padding-right: 0.25em;
    content: "Comments";
    font-size: 0.875rem;
    background-color: #ffffff;
    transform: translateY(calc(-50% - 2px));
}