.user-card {
	display: grid;
	grid-template: min-content / min-content min-content min-content;
	grid-template-areas:
		"profile-image	name	id";
	align-items: center;
	position: relative;
	width: 100%;
	max-width: 600px;
	min-height: 56px;
	height: fit-content;
	border-radius: 12px;
	color: #ffffff;
	box-sizing: border-box;
	backdrop-filter: blur(12px);
	transition: all 0.2s;
}

.user-card.active {
	background-color: rgba(132, 108, 255, 0.711);
}

.user-card .profile-image {
	grid-area: profile-image;
	width: 56px;
	height: 56px;
	margin-right: 16px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.5);
	object-fit: cover;
}

.user-card .name {
	margin-right: 8px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

.user-card .id {
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	color: rgba(255, 255, 255, 0.5);
}