.card {
	display: grid;
	grid-template-rows: 24px min-content min-content 42px;
	grid-template-columns: 24px min-content 1fr 40px;
	grid-template-areas:
		"profile-image	writer		writer	."
		"album-image	album-image	title	digging"
		"album-image	album-image	address	digging"
		"tags			tags		tags	tags";
	position: relative;
	width: 100%;
	max-width: 600px;
	min-height: 216px;
	height: fit-content;
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius: 12px;
	padding: 16px;
	color: #ffffff;
	background: linear-gradient(108.49deg, rgba(255, 255, 255, 0.24) 0%, rgba(90, 57, 255, 0.56) 100%);
	border: 1px solid rgba(255, 255, 255, 0.12);
	box-sizing: border-box;
	backdrop-filter: blur(12px);
	transition: all 0.2s;
}

.card.active {
	background-color: rgba(132, 108, 255, 0.711);
}

.card .profile-image {
	grid-area: profile-image;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	object-fit: cover;
	/* background-color: #ffffff; */
}

.card .writer {
	grid-area: writer;
	align-self: center;
	margin-left: 6px;
	font-size: 13px;
}

.card .album-image {
	grid-area: album-image;
	width: 110px;
	height: 110px;
	background-image: url("/public/images/Rectangle 44.png");
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
	margin-top: 8px;
	margin-right: 16px;
}

.card .title {
	grid-area: title;
	margin-top: 8px;
	font-size: 20px;
	font-weight: bold;
	line-height: 1em;
	color: rgba(255, 255, 255, 0.9);
}

.title .artist {
	font-size: 15px;
	font-weight: normal;
	letter-spacing: -0.035em;
	color: rgba(255, 255, 255, 0.8);
}

.card .address {
	grid-area: address;
	align-self: end;
	font-size: 11px;
	letter-spacing: -0.035em;
	color: rgba(255, 255, 255, 0.75);
}

.card .digging {
	grid-area: digging;
	align-self: center;
	width: 100%;
	padding: 0;
}

.card .tags {
	grid-area: tags;
	align-self: end;
	display: flex;
	flex-wrap: nowrap;
	justify-content: start;
	column-gap: 8px;
	overflow: auto hidden;
}

.tags .tag {
	width: fit-content;
	height: 30px;
	border-radius: 8px;
	padding: 8px;
	vertical-align: middle;
	line-height: 1em;
	white-space: nowrap;
	font-size: 12px;
	letter-spacing: -0.035em;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
}