<div id="MyProfileCard">
  <img
    class="profile-image"
    src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040004/09/11/0400040911_18591_02403.gif"
    alt="프로필 사진"
  />
  <div class="id-and-name">
    <span>@parkjw</span>
    <span>박주원</span>
  </div>
  <button
    class="btn btn-link button-instargram"
    href="https://www.instargram.com"
    aria-label="instargram"
  >
    <img src="instargram-icon.png" />
  </button>
  <button class="btn button-following">프로필 편집</button>
</div>