<section>
    <div class="knob">
        <div></div>
    </div>

    <div class="content">
        <!-- nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">게시판</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">플레이리스트</a>
            </li>
        </ul>


        <!-- Search form -->
        <form class="search-bar-cover" action="#">
            <input class="form-control" type="text" placeholder="게시글 검색" aria-label="Search">
            <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </button>
        </form>
    </div>
</section>

<section>
    <div class="list-group">
        <a href="#post" class="list-group-item list-group-item-action active" aria-current="true">
            <img
                src="https://i.ytimg.com/vi/efrVSI3yVSA/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDaLumKY_ZoMhKtPaRKL_vu7YooYQ">
            <div class="d-flex justify-content-between">
                <h5 class="mb-1">Sailing</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">주절주절 게시글 내용 히히 호...</p>
            <small>@Bang_Seonghun</small>
        </a>
        <a href="#post" class="list-group-item list-group-item-action" aria-current="true">
            <img
                src="https://i.ytimg.com/vi/v7bnOxV4jAc/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA-BbrAziLeGuA-10-FgEtym6bppQ">
            <div class="d-flex justify-content-between">
                <h5 class="mb-1">LILAC
                </h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">주절주절 게시글 내용 히히 호...</p>
            <small>@Bang_Seonghun</small>
        </a>
        <a href="#post" class="list-group-item list-group-item-action" aria-current="true">
            <img
                src="https://i.ytimg.com/vi/ufb8ucTf9mE/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAc3_L-PvY5Y2935ui_ceSk22_h2w">
            <div class="d-flex justify-content-between">
                <h5 class="mb-1">한량</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">주절주절 게시글 내용 히히 호...</p>
            <small>@Bang_Seonghun</small>
        </a>
    </div>
</section>

<!-- <link rel="stylesheet" href="/public/stylesheets/bottom-drawer.css"> -->