<section>
    <div class="knob">
        <div></div>
    </div>

    <div class="content">
        <div id="post-summary-information">
            <img
                src="https://i.ytimg.com/vi/v7bnOxV4jAc/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA-BbrAziLeGuA-10-FgEtym6bppQ">
            <div class="flex-vertical-alignment">
                <div><b>LILAC</b> <i>- IU</i></div>
            </div>
            <div class="flex-vertical-alignment">
                <div><small class="float-unset">@bang_seonghun</small> <small>2021. 08. 04</small></div>
            </div>
            <div class="flex-vertical-alignment">
                <div>주절주절 게시글 내용 히... <small>X</small></div>
            </div>
        </div>
    </div>
</section>
<section>

</section>

<link rel="stylesheet" href="/public/stylesheets/post.css">