<section>
    <div class="knob">
        <div></div>
    </div>

    <div class="content bg-secondary">
        <div id="post-summary-information">
            <img
                src="https://i.ytimg.com/vi/ufb8ucTf9mE/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAc3_L-PvY5Y2935ui_ceSk22_h2whttps://i.ytimg.com/vi/efrVSI3yVSA/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDaLumKY_ZoMhKtPaRKL_vu7YooYQ">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</section>
<section>

</section>

<link rel="stylesheet" href="/public/stylesheets/post.css">