<section>
    <div class="knob">
        <div></div>
    </div>

    <div class="content">
        <div id="write-first-section-grid">
            <div class="input-field nickname">
                <input id="login-id" type="email" class="input-underline" placeholder="anonymous">
                <label for="login-id">닉네임</label>
            </div>
            <div class="input-field password">
                <input id="login-id" type="email" class="input-underline" placeholder="••••">
                <label for="login-id">비밀번호</label>
            </div>
            <div class="input-field youtube-address">
                <input id="login-id" type="email" class="input-underline" placeholder="https://youtu.be/xXxxXxXXxXX">
                <label for="login-id">유튜브 주소</label>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="content">


    </div>
</section>

<link rel="stylesheet" href="/public/stylesheets/post.css">