<section>
    <div class="knob">
        <div></div>
    </div>

    <div class="content">
        <div id="write-first-section-grid">
            <div class="input-field">
                <input id="login-id" type="email" class="input-underline" placeholder="yourmail@email.com">
                <label for="login-id">이메일</label>
            </div>
            <div class="input-field">
                <input id="login-id" type="email" class="input-underline" placeholder="yourmail@email.com">
                <label for="login-id">이메일</label>
            </div>
            <div class="input-field">
                <input id="login-id" type="email" class="input-underline" placeholder="yourmail@email.com">
                <label for="login-id">이메일</label>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="content">


    </div>
</section>

<link rel="stylesheet" href="/public/stylesheets/post.css">