<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- 파비콘 -->
	<link rel="shortcut icon" href="/public/images/로고.svg" />

	<!-- 구글 폰트 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap&subset=latin"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap&subset=korean"
		rel="stylesheet">

	<!-- 부트스트랩 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />

	<!-- 내부 CSS -->
	<link rel="stylesheet" href="/public/stylesheets/main.css" />
	<link rel="stylesheet" href="/public/stylesheets/login.css" />

	<title>뮤집 - 로그인</title>

	<script src="/public/scripts/logins/login.js"></script>
</head>

<body>
	<div id="Login">
		<div class="container">
			<img src="/public/images/logo.svg" class="logo" alt="logo" />
			<img src="/public/images/mugip.svg" class="text-logo" alt="Mugip" />
			<span class="catch-phrase">
				미니멀한<br />
				음악 태그<br />
				<span class="sns">SNS</span><br /><br />
			</span>
			<button type="button" id="spotify-login" class="btn spotify">
				<img src="/public/images/Spotify_Icon_RGB_White 1.svg">스포티파이로 로그인
			</button>
		</div>
	</div>
</body>

</html>