<section>
    <div class="knob">
        <div></div>
    </div>

    <div class="content">
        <!-- nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">게시판</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">플레이리스트</a>
            </li>
        </ul>


        <!-- Search form -->
        <div class="search-bar-cover">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
    </div>
</section>

<section>
    두 번째 섹션
</section>

<link rel="stylesheet" href="/public/stylesheets/bottom-drawer.css">